/*
Theme Name: Aslore Theme
Theme URI: https://www.aslore.org.br/
Author: ASLORE
Author URI: https://www.aslore.org.br
Description: The ASLORE Theme based on Minamaze free version. The theme has a responsive layout, HD retina ready and comes with a powerful theme options panel with can be used to make awesome changes without touching any code. The theme also comes with a full width easy to use slider. Easily add a logo to your site and create a beautiful homepage using the built-in homepage layout.
Version: 0.0.1
License: GNU General Public License v2 or later
License URI: https://www.gnu.org/licenses/gpl-2.0.html
Tags: one-column, two-columns, three-columns, four-columns, right-sidebar, left-sidebar, custom-header, custom-logo, custom-menu, full-width-template, theme-options, threaded-comments, featured-images, featured-image-header, post-formats, sticky-post, translation-ready, flexible-header, custom-background, grid-layout, footer-widgets, blog, e-commerce, photography, rtl-language-support
Text Domain: aslore-theme
*/

/*  TABLE OF CONTENTS
00. IMPORT
01. RESET
02. GLOBAL
03. STRUCTURE
04. MEDIA
05. NAVIGATION
06. HEADER
	-Main
	-Menu
	-Bootstrap Menu
	-Slider
	-Intro Options
	-Notification Bar
07. MAIN CONTENT
	-Breadcrumbs
	-Pre-Designed Homepage
	-Call to Action / Attention Grabber
	-Floating Content
08. FOOTER
09. WIDGETS & SIDEBAR
10. PAGE FORMATS
	-Meta Content
	-Blog
	-Single Post
	-Contact Us
	-Archive
	-Sitemap
	-Parallax
	-Search Results
	-404 Error
	-Portfolio
	-Project
11. SHORTCODES - THEME SPECIFIC STYLE
12. PAGE BUILDER - THEME SPECIFIC STYLE
13. IE STYLES
14. SAFARI STYLES
15. MISC
*/

/* ---------------------------------------------------------------------------------------
	00. IMPORT
--------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------
	01. RESET
--------------------------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, cite,
del, dfn, em, font, q, s, samp,
strike, strong,
ol, ul, li,
fieldset, form, label, legend,
tbody, tfoot, thead, tr {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html {
	font-size: 62.5%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	overflow: hidden;
	background: #fff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	display: block;
	font-size: larger;
	padding: 10px 0 10px 20px;
	border-left: 2px solid #44AA00;
}
blockquote:before, q:before,
blockquote:after, q:after {
	font-family: "Times New Roman", Arial, Helvetica;
	font-weight: bold;
	font-size: larger;
	line-height: 0px;
}
blockquote:before, q:before {
	content: '\201C';
	padding-right:5px;
}
blockquote:after, q:after {
	content: '\201D';
	padding-left:5px;
}

dt {
	font-weight: bold;
}
a:focus {
	outline: thin dotted;
}
a:hover,
a:active {
	outline: 0;
}
a img {
	border: 0;
}
.clearboth {
	width: 100%;
	clear: both;
	display: block;
}

/* Accessibility - Text meant only for screen readers. */
.screen-reader-text {
	position: absolute !important;
	word-wrap: normal !important;
	overflow: hidden;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}
.screen-reader-text:focus {
	z-index: 100000;
	display: block;
	outline: none;
	color: #21759b;
	font-size: 13px;
	font-weight: 600;
	line-height: normal;
	text-decoration: none;
	top: 5px;
	right: 5px;
	width: auto;
	height: auto;
	padding: 12px 20px;
	background-color: #f1f1f1;
	border: 2px solid #aaa;
	border-radius: 0px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;	
	clip: auto !important;
	clip-path: none;
}


/* ---------------------------------------------------------------------------------------
	02. GLOBAL
--------------------------------------------------------------------------------------- */
body,
button,
input,
select,
textarea {
	color: #888;	
	font-family: Oxygen, Helvetica, Arial;
	font-size: 14px;
	line-height: 1.5;
	word-wrap: break-word;
}
body,
#body-core { 
	background: white;
	min-width: 320px;
}

/* Responsive screen width */
body.layout-fixed,
body.layout-fixed #body-core,
body.layout-fixed #site-header,
body.layout-fixed #header-sticky,
body.layout-fixed #notification { 
	min-width: 1140px;
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
	color: #202020;
	clear: both;
	margin: 0 0 0.8em;
	font-family: Open Sans, Helvetica, Arial;
	line-height: 1.5;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
h1 {
	font-size: 28px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 20px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 12px;
}
hr {
	background-color: #E6E6E6;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

/* Text elements */
p {
	margin-bottom: 20px;
}
ul, ol {
	margin: 0 0 20px 20px;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
	margin-left: 1.5em;
}
b, strong {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	font-style: italic;
	margin: 0 1.5em;
}
pre {
	line-height: 25px;
	padding: 0px 20px;
	margin-bottom:10px;
	border: 1px solid #ddd;
	background: #f2f2f2;
	background: -moz-linear-gradient(top, #f2f2f2 50%, #f9f9f9 50%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#f2f2f2), color-stop(50%,#f9f9f9));
	background: -webkit-linear-gradient(top, #f2f2f2 50%,#f9f9f9 50%);
	background: -o-linear-gradient(top, #f2f2f2 50%,#f9f9f9 50%);
	background: -ms-linear-gradient(top, #f2f2f2 50%,#f9f9f9 50%);
	background: linear-gradient(to bottom, #f2f2f2 50%,#f9f9f9 50%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#f9f9f9',GradientType=0 );
	background-size: 50px 50px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
button,
input,
select,
textarea {
	font-size: 100%;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: baseline;
	*vertical-align: middle;
}
button,
input {
	line-height: normal;
	*overflow: visible;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
	padding: 11px 15px;
}
input.searchsubmit {
}
input[type="checkbox"],
input[type="radio"] {
	padding: 0;
}
input[type="search"] {
	-webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
input[type=text],
input[type=email],
input[type=password],
input[type=search],
input[type=tel],
select,
textarea {
	background: white;
	border: 1px solid #E0E0E0;
	padding: 10px 20px;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
select:focus,
textarea:focus {
	background: #fff;
}
textarea {
	overflow: auto;
	vertical-align: top;
	width: 100%;
}

/* Tables */
table {
	text-align:   center;
	margin:       0 0 25px;
	width:        100%;
	border-left:  1px solid #ddd;
	border-right: 1px solid #ddd;
	border-collapse:collapse;
}
caption {
	font-size:  0.875rem;
	font-style: italic;
	color:      #888;
}
th,
td {
	padding:     4px 2%;
	border:      1px solid #ddd;
	border-left: none;
}
th {
	font-size:   0.9em;
	font-weight: bold;
}
td {
	border-top: none;
}
#footer table,
#footer th,
#footer td {
	border-color: #444;
}

/* Links */
a {
	color: #44AA00;
	cursor: pointer;
	text-decoration: none;
	outline: 0 none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
a:hover {
	color: inherit;
}
a,
a:visited {
	text-decoration: none;	
}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 20px;
	margin-bottom: 10px;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 20px auto;
}


/* ---------------------------------------------------------------------------------------
	03. STRUCTURE
--------------------------------------------------------------------------------------- */
#pre-header-core,
#header-core,
#header-links-inner,
#content-core,
#footer-core,
#sub-footer-core,
#notification-core,
#introaction-core,
#outroaction-core {
	display: block;s
	max-width:1140px;
	margin: 0 auto;
}
#content,
.main-navigation,
.site-title,
.site-description {
    margin: 0 auto;
}
#content {
	clear: both;
	margin: 0;
	padding: 30px 30px;
}

/* Boxed layout */
body.layout-boxed #body-core,
body.custom-background #body-core {
	max-width: 1170px;
	display: block;
	margin: 0 auto;
}
body.layout-boxed #pre-header,
body.layout-boxed #header,
body.layout-boxed #header-sticky,
body.custom-background #pre-header,
body.custom-background #header,
body.custom-background #header-sticky {
	max-width: 1170px;
}

/* ---------------------------------------------------------------------------------------
	04. MEDIA
--------------------------------------------------------------------------------------- */
.entry-content img,
.entry-content iframe {
	display: block;
}
img {
	max-width: 100%;
	height: auto;
}
embed,
iframe,
object,
.wp-caption {
	max-width: 100%;
}
iframe.twitter-tweet {
	margin: 0 !important;
	width: 100%;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	font-size: 12px;
	font-style: italic;
}
#content .gallery a img {
	border: none;
}

img.logo_embed {
	padding: 3px 3px;
}


/* ---------------------------------------------------------------------------------------
	05. NAVIGATION
--------------------------------------------------------------------------------------- */
#nav-above,
#nav-below {
	margin: 0px 0px 10px 0px;
}
.nav-previous {
}
.nav-previous a {
	color: #FFF !important;
	background: #44AA00;
	padding: 5px 10px;
	float: left;
}
.nav-previous a .meta-icon {
	float: left;
	margin-right: 5px;
	padding: 1px 6px 2px 0;
}

.nav-next {
}
.nav-next a {
	color: #FFF !important;
	background: #44AA00;
	padding: 5px 10px;
	float: right;
}
.nav-next a .meta-icon {
	float: right;
	margin-left: 5px;
	padding: 1px 0 2px 6px;
}

.nav-previous a .meta-icon,
.nav-next a .meta-icon {
	display: table;
}
.nav-previous a:hover,
.nav-next a:hover {
	background: #333;
}
.nav-previous a i,
.nav-next a i {
	vertical-align: top;
	display: table-cell;
}


/* =Pagination
----------------------------------------------------------------------------- */
.pag {
	text-align: right;
	margin: 0;
	list-style: none;
}
.pag li {
	font-size: smaller;
	display: inline-block;
	margin-right: 2px;
}
.pag li a,
.pag li span {
	color: inherit;
	padding: 1px 6px;
	border: 1px solid #EEE;
	background: white;
	display: block;
}
.pag li a:hover {
	color: #44AA00;
	border-color: #44AA00;
}
.pag li.current span {
	color: #fff;
	background: #44AA00;
	border-color: #44AA00;
}
li.pag-first {
	display: none;
}
li.pag-last {
	display: none;
}
li.pag-previous {
}
li.pag-next {
}

/* Pagination - Native WordPress pagination */
.navigation.pagination {
	margin: 10px 0 30px;
	list-style: none;
}
.navigation.pagination .screen-reader-text {
	display: none;
}
.navigation.pagination .nav-links a,
.navigation.pagination .nav-links span {
	text-align: center;
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: inherit;
	background: none;
	border: 1px solid #232323;
	margin-right: 3px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}
.navigation.pagination .nav-links a:hover,
.navigation.pagination .nav-links a.current,
.navigation.pagination .nav-links span:hover,
.navigation.pagination .nav-links span.current {
	color: #fff;
	background: #232323;
}
.navigation.pagination .nav-links a.prev,
.navigation.pagination .nav-links a.next {
	font-size: 0;
	top: 1px;
	position: relative;
}
.navigation.pagination .nav-links a.prev:after,
.navigation.pagination .nav-links a.next:after {
	font-size: 15px;
	font-family: fontawesome;
}
.navigation.pagination .nav-links a.prev:after {
	content: "\f104";
}
.navigation.pagination .nav-links a.next:after {
	content: "\f105";
}
.navigation.pagination .nav-links .dots:hover {
	color: inherit;
	background: none;
	border-color: #232323;
}


/* ---------------------------------------------------------------------------------------
	06. HEADER
--------------------------------------------------------------------------------------- */

/* Custom Header */
.custom-header img {
	display: block;
	margin: 0 auto;
}

/* =Main
----------------------------------------------------------------------------- */
.site-description {
	color:  rgb(0, 54, 14);
	font-size: 14px;
	line-height: 14px;
	margin-left: 12px;
}
#logo {
	float: left;
	margin: 10px 0 0;
}
#logo a {
	display: inline-block;
}
#logo img {
	width: auto;
	max-height: 50px;
	display: block;
	margin: 0 auto;
}
#logo h1 {
	color: rgb(0, 54, 14);
	font-size: 24px;
	font-weight: bold;
	margin-top: 5px;
	margin-left: 12px;
}

/* Logo Style - Header Style 2 */
.header-style2 #logo {
	text-align:center;
}


/* =Menu
----------------------------------------------------------------------------- */

/* Header Image*/
#header-image img {
	display: block;
	width: 100%;
}
#header-image.header-image-boxed {
	display: block;
	margin: 0 auto;
	max-width: 1170px;
}

/* Site-header */
#site-header {
	position: relative;
	z-index: 99999;
}

/* Pre-header */
#pre-header {
	background: #1C1C1C;
}
#pre-header:hover,
#pre-header:focus-within {
	z-index: 99991;
}
#pre-header li {
	float: left;
}
#pre-header .header-links > ul > li > a {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#pre-header .header-links .menu-hover > a,
#pre-header .header-links > ul > li > a:hover {
	color: white;
}
#pre-header .header-links li a,
#pre-header-social li,
#pre-header-social li a,
#pre-header-search input {
	color: #CCC;
	font-size: 12px;
	display: block;
}
#pre-header .header-links li a,
#pre-header-social li.message {
	padding: 9px 15px 7px;
}
#pre-header-social li,
#pre-header-social li a {
	border: 0px;
}
#pre-header  .header-links > ul > li.menu-parent > a:after {
	position: relative;
	content: "\f107";
	font-family: FontAwesome;
	padding-left: 6px;
}
#pre-header .header-links .sub-menu {
	background: #1C1C1C;
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	border-color: #303030;
	position: absolute;
	display: none;
	z-index: 9999;
}
#pre-header .header-links .sub-menu li {
	border-bottom: 1px solid #303030;
}
#pre-header .header-links .sub-menu a {
	padding: 6px 20px 6px 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
#pre-header .header-links .sub-menu a:hover {
	color: white;
}
#pre-header-core {
	display: table;
	width: 100%;
}
#pre-header-links-inner,
#pre-header-social,
#pre-header-search {
	display: table-cell;
	vertical-align: middle;
}

/* Pre-header - Search */
#pre-header-search {
	width: 1%;
	padding: 5px 5px 5px 20px;
}
#pre-header-search .search {
	max-width: 120px;
	background: #3A3A3A;
	border: 1px solid #444;
	padding: 3px 10px;
}
#pre-header-search .searchform {
	float: right;
}
#pre-header-search .searchsubmit {
	display: none;
}

/* Search input placeholder text color */
#pre-header-search ::-webkit-input-placeholder { color: #888; }
#pre-header-search :-moz-placeholder { color: #888; }
#pre-header-search ::-moz-placeholder { color: #888; }
#pre-header-search :-ms-input-placeholder { color: #888; }

/* Pre-header - Social Media */
#pre-header-social ul {
	display: table;
	float: right;
}
#pre-header-social li {
	display: table-cell;
	vertical-align: middle;
	float: none;
}
#pre-header-social li a {
display: table;
text-align: center;
color: #FFF;
	width: 24px;
	height: 24px;
	margin: 3px;
	background: #4D4D4D;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	-o-border-radius: 500px;
	border-radius: 500px;
}

#pre-header-social li.facebook a:hover {
	background: #3b5997;
}
#pre-header-social li.twitter a:hover {
	background: #a5dee8;
}
#pre-header-social li.google-plus a:hover {
	background: #db4a39;
}
#pre-header-social li.instagram a:hover {
	background: #AC8263;
}
#pre-header-social li.tumblr a:hover {
	background: #395672;
}
#pre-header-social li.linkedin a:hover {
	background: #56a1c4;
}
#pre-header-social li.flickr a:hover {
	background: #c5c5c5;
}
#pre-header-social li.pinterest a:hover {
	background: #C92228;
}
#pre-header-social li.xing a:hover {
	background: #126567;
}
#pre-header-social li.paypal a:hover {
	background: #1e477a;
}
#pre-header-social li.youtube a:hover {
	background: #de1f26;
}
#pre-header-social li.vimeo-square a:hover {
	background: #4EBBFF;
}
#pre-header-social li.rss a:hover {
	background: #fea81d;
}
#pre-header-social li i {
	display: table-cell;
	vertical-align: middle;
	position: relative;
	top: 1px;
}

/* Header */
#header {
	padding: 0;
	background: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
#header {
	z-index: 9999;
}
#header-links {
	float: right;
}
#header-links-inner {
	display: table;
	margin: 0 auto;
}
#header .header-links li {
	float: left;
}
#header .header-links > ul > li a{
	color: #777;
	padding: 25px 20px;
}
#header .header-links > ul > li.menu-parent > a:after {
	position: relative;
	content: "\f107";
	font-family: fontawesome;
	padding-left: 6px;
}
#header .header-links li a {
	display: block;
	padding: 8px 14px;
	margin: 0px;
}
#header .header-links .sub-menu {
	display: none;
	float: left;
	position: absolute;
	z-index: 9999;
	border: 1px solid #303030;
	background: #1C1C1C;
}
#header .header-links .sub-menu li {
	float: none;
}
#header .header-links .sub-menu a {
	color: white;
	font-size: 12px;
	border-bottom: 1px solid #303030;
	line-height: 32px;
	margin: 0;
	padding: 0 20px 0 10px;
}
#header .header-links .sub-menu li:last-child > a {
	border: 0;
}
#header .header-links .sub-menu a:hover,
#header .header-links .sub-menu .current-menu-item a {
}

#pre-header .sub-menu li,
#header .sub-menu li {
	float: none;
	position: relative;
}
#header .sub-menu li {
	padding: 2px 10px;
}
#header .sub-menu li:hover {
	padding-left: 10px;
}

#header .menu > li > a {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#header .menu > li.menu-hover > a,
#header .menu > li.current_page_item > a, 
#header .menu > li.current-menu-ancestor > a,
#header .menu > li > a:hover {
	color: #44AA00;
}
.main-navigation:after {
	clear: both;
	content: "";
	display: block;
}
.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.main-navigation .sub-menu a {
	white-space: nowrap;
}
.main-navigation .sub-menu .sub-menu {
	position: absolute;
	top: -1px;
	left: 100%;
}
.main-navigation ul ul :hover > a {
}
#pre-header .main-navigation ul li:hover > ul,
#pre-header .main-navigation ul li:focus-within > ul,
#header .main-navigation ul li:hover > ul,
#header .main-navigation ul li:focus-within > ul {
	display: block;
}

/* Header - Style 1 */
#header {
}
.home #header {
	border-bottom: none;
}

/* Header - Style 2 */
.slider-full.header-style2 #header-core {
	max-width: 100%;
}
.header-style2 #logo {
	float: none;
	margin: 25px 0;
}
.header-style2 #logo img {
	max-height: 90px;
}
.header-style2 #header-links {
	width: 100%;
	max-width: 1140px;
	border-top: 1px solid #EEE;
	border-bottom: 1px solid #EEE;
}
.header-style2 #header .header-links > ul > li > a {
	padding: 15px 20px;
}

/* Header - Style 1 Sticky */
.layout-boxed.header-style1.header-sticky #pre-heade,
.layout-boxed.header-style1.header-sticky #header,
.custom-background.header-style1.header-sticky #pre-heade,
.custom-background.header-style1.header-sticky #header {	
	max-width: 1170px;	
}
.header-style1.header-sticky #pre-header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}
.header-style1 #header {
	border-bottom: 1px solid #E0E0E0;
}
.home.header-style1 #header {
	border-bottom: none;
}
.header-style1.header-sticky #header {
	width: 100%;
	max-width: 100%;
	position: fixed;
	background-color: #FFF;
	z-index: 99999;
}
.header-style1.header-sticky.layout-fixed #header {
	min-width: 1140px;
	padding: 0 15px;
}
.header-style1.header-sticky.layout-boxed #header,
.header-style1.header-sticky.custom-background #header {
	max-width: 1170px;
}
.header-style1.header-sticky .is-sticky #header {
	top: 0px;
	border-bottom: 1px solid #e0e0e0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	 transition: all 0.3s ease
}

/* Header - Style 2 Sticky */
.header-style2.header-sticky .sticky-wrapper {
	width: 100%;
}
.header-style2.header-sticky #header-links {
	background-color: #FFF;
	z-index: 99999;
}
.header-style2.header-sticky .is-sticky #header-links {
	position: fixed;
	top: 0px;
	border-bottom: 1px solid #e0e0e0;
}
.slider-full.header-style2 #header-links {
	max-width: 100%;
}

/* Header - Mega Menu */
#header .header-links .header-thinkupmega > ul > li {
	float: left;
}
#header .header-links .header-thinkupmega  > ul > li > a {
	text-transform: uppercase;
}
#header .header-links .header-thinkupmega > ul > li:last-child > a {
	border-bottom: 1px solid #303030;
}
#header .header-links .header-thinkupmega  > ul > li > a:hover span {
	margin-left: 0;
	margin-right: 10px;
}
#header .header-links .header-thinkupmega  > ul > li > a:before {
	content: "";
}
#header .header-links .header-thinkupmega ul .sub-menu {
	position: relative;
	display:block !important;
	visibility: visible !important;
	float: none;
	left: 0px;
	top: auto;
	border: none;
}
#header .header-links .header-thinkupmega ul .sub-menu li {
	position: relative;
	border: none;
	padding-left: 0;
	padding-right: 0;
}
#header .header-links .header-thinkupmega ul .sub-menu a {
	border: none;
}

/* Moving sub-menu items right */
#pre-header .header-links .sub-menu a,
#pre-header .header-links .sub-menu a span,
#pre-header .header-links .sub-menu .menu-parent > a:before,
#header .header-links .sub-menu a,
#header .header-links .sub-menu a span,
#header #header-core .sub-menu .menu-parent > a:before {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#pre-header .header-links .sub-menu a:hover {
	padding-right: 10px;
}
#header .header-links .sub-menu a:hover {
	padding-right: 10px;
}
#pre-header .header-links .sub-menu a:hover span,
#header .header-links .sub-menu a:hover span {
	margin-left: 10px;
}

/* Arrows of menu parents (uses FontAwesome css) */
#pre-header .sub-menu .menu-parent > a:before {
	font-family: FontAwesome;
	font-size: 1em;
	text-align: right;
	content: "\f105";
	position: relative;
	left: 10px;
	display: inline-block;
	float: right
}
#pre-header .sub-menu .menu-parent > a:hover:before {
	left: 0px;
}
#header .sub-menu .menu-parent > a:before {
	font-family: FontAwesome;
	font-size: 1.1em;
	text-align: right;
	content: "\f105";
	position: relative;
	left: 20px;
	display: inline-block;
	float: right;
}
#header .sub-menu .menu-parent > a:hover:before {
	left: 10px;
}

/* Align sub-menu items from right */
#header .header-links .align-rtl {
    position: relative;
}
#header .header-links .align-rtl .sub-menu {
	right: 0px;
	text-align: right;
}
#header .header-links .align-rtl .sub-menu a {
    padding: 0 10px 0 20px;
}
#header .header-links .align-rtl .sub-menu a:hover {
    padding-left: 10px;
}
#header .header-links .align-rtl .sub-menu .sub-menu {
	left: auto;
	right: 100%;
}
#header .header-links .align-rtl .sub-menu a:hover span {
	margin-left: 0;
	margin-right: 10px;
}
#header .header-links .align-rtl .sub-menu .menu-parent > a:before {
	content: "\f104";
	right: 20px;
	left: auto;
	float: left;
}
#header .header-links .align-rtl .sub-menu .menu-parent > a:hover:before {
	right: 10px;
	left: auto;
}


/* =Bootstrap Menu
----------------------------------------------------------------------------- */
#header-responsive {
	display: none;
}


/* =Slider
----------------------------------------------------------------------------- */
#slider-core {
	position: relative;
}

/* SlideDeck 2 Slider */
#slider .slidedeck-frame {
	margin: 0 auto;
}

/* Responsive ThinkUpSlider */
#slider .slides {
	height: 0;
	margin: 0;
}
#slider .rslides {
	margin: 0;
	overflow: hidden;
}
.rslides li {
	width: 100%;
}
.rslides img {
	width: 100%;
}
#slider .rslides-inner {
	position: relative;
	width: 1140px;
	max-width: 100%;
	margin: 0 auto;
	border: 0;
	overflow: hidden;
}
#slider .rslides-inner li {
	height: auto;
	list-style: none;
}
#slider .rslides-container {
	padding: 20px 10px;
}
#slider a.rslides_nav {
	text-align: center;
	line-height: 1;
	width: 60px;
	height: 60px;
	margin: -30px 0 0;
	position: absolute;
	overflow: hidden;
	top: 50%;
	color: rgba(0, 0, 0, 0.8);
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}
#slider a.rslides_nav.prev {
	left: -60px;
}
#slider a.rslides_nav.next {
	right: -60px;
}
#slider a.rslides_nav.prev:before,
#slider a.rslides_nav.next:before {
	color: #fff;
	background: #000;
	background: rgba(0, 0, 0, 0.5);
	font-family: FontAwesome;
	font-size: 30px;
	line-height: 60px;
	display: block;
	position: relative;
	z-index: 9999;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}
#slider a.rslides_nav.prev:hover:before,
#slider a.rslides_nav.next:hover:before {
	color: #333;
	background: #fff;
}
#slider a.rslides_nav.prev:before {
	content: "\f104";
}
#slider a.rslides_nav.next:before {
	content: "\f105";
}
#slider .rslides-inner:hover a.rslides_nav {
	opacity: 1;
}
#slider .rslides-inner:hover a.rslides_nav.prev {
	left: 0px;
}
#slider .rslides-inner:hover a.rslides_nav.next {
	right: 0px;
}
#slider .rslides_tabs {
	position: absolute;
	z-index: 99;
	text-align: center;
	width: 100%;
	bottom: 10px;
	margin: 0;
}
#slider .rslides_tabs li {
	list-style: none;
	margin: 0 6px;
	display: inline-block;
	zoom: 1;
}
#slider .rslides_tabs li a {
	width: 11px;
	height: 11px;
	display: block;
	background: #666;
	background: rgba(0, 0, 0, 0.4);
	cursor: pointer;
	text-indent: -9999px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	-o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}
#slider .rslides_tabs li a:hover,
#slider .rslides_tabs li.rslides_here a {
	background: #333;
	background: rgba(0, 0, 0, 0.7)
}

/* Vary style for full-width and boxed slider */
.slider-boxed #slider .rslides-content {
	padding: 0 100px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.slider-boxed #slider .rslides-inner {
	width: 1130px;
}
.slider-boxed #slider .rslides-inner {
	-webkit-box-shadow: 0 0 0 5px #FFF, 0 0 0 6px #DDD;
	-moz-box-shadow: 0 0 0 5px #FFF, 0 0 0 6px #DDD;
	-o-box-shadow: 0 0 0 5px #FFF, 0 0 0 6px #DDD;
	box-shadow: 0 0 0 5px #FFF, 0 0 0 6px #DDD;
}
.slider-full #header-core {
	max-width: 1140px; 
}
.slider-full #header-links {
	border-bottom: none;
}
.slider-full #slider  .rslides-inner {
	width: 100%;
	position: relative;
}
.slider-full #slider .rslides-container {
	padding: 0 0 20px;
}

/* Responsive ThinkUpSlider - Content */
#slider .rslides-content,
.thinkupslider-sc .rslides-content {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	padding: 0 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
#slider .rslides-content-inner,
.thinkupslider-sc .rslides-content-inner {
	display: table;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
#slider .featured,
.thinkupslider-sc .featured {
	display: table-cell;
	vertical-align: top;
	padding: 30px 5px;
}
#slider .featured-title,
.thinkupslider-sc .featured-title {
	margin-bottom: 20px;
}
#slider .featured-title span,
.thinkupslider-sc .featured-title span {
	display: inline-block;
	color: #FFF;
	text-shadow: -1px -1px 0 #1F4C00, 1px -1px 0 #1F4C00, -1px 1px 0 #1F4C00, 1px 1px 0 #1F4C00;
	font-size: 50px;
	font-weight: 300;
	line-height: 1;
}

#slider .featured-excerpt p,
.thinkupslider-sc .featured-excerpt p {
	margin-bottom: 25px;
}
#slider .featured-excerpt span,
.thinkupslider-sc .featured-excerpt span {
	display: inline-block;
	color: #FFF;
	font-size: 24px;
	line-height: 35px;
	font-weight: 300;
}
#slider .featured-link a,
.thinkupslider-sc .featured-link a {
	display: inline-block;
	color: #FFF;
	font-size: 18px;
	padding: 5px 20px;
	border: 1px solid #FFF;
}
#slider .featured-link a:hover,
.thinkupslider-sc .featured-link a:hover {
	background: #44AA00;
	border-color: #44AA00;
}

/* Slider - Style 2 & 3 */
#slider.style2 .featured.one_half,
.thinkupslider-sc.style2 .featured.one_half {
	padding-left: 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
#slider.style3 .featured.one_half,
.thinkupslider-sc.style3 .featured.one_half {
	padding-right: 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
#slider.style2 .wrap-safari,
#slider.style3 .wrap-safari,
.thinkupslider-sc.style2 .wrap-safari,
.thinkupslider-sc.style3 .wrap-safari {
	display: table;
	height: 100%;
	max-width: 1140px;
	margin: 0 auto;
	width: 100%;
}
#slider.style2 .rslides-content-inner,
#slider.style3 .rslides-content-inner,
.thinkupslider-sc.style2 .rslides-content-inner,
.thinkupslider-sc.style3 .rslides-content-inner {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
	margin: 0 auto;
}
#slider.style2 .featured-video,
#slider.style3 .featured-video,
.thinkupslider-sc.style2 .featured-video,
.thinkupslider-sc.style3 .featured-video {
	margin-bottom: 0;
}

/* Slider - Video code */
#slider .featured-video iframe,
.thinkupslider-sc .featured-video iframe {
	padding-bottom: 20px;
}
#slider .featured-video .wp-video,
#slider .wp-video-shortcode,
.thinkupslider-sc .featured-video .wp-video,
.thinkupslider-sc .wp-video-shortcode {
	max-width: 100%;
}
#slider .videoBG video,
.thinkupslider-sc .videoBG video {
	top: -30% !important;
	width: 100%;
}
#slider .mejs-layers,
.thinkupslider-sc .mejs-layers {
	max-width: 100%;
}
#slider .videoBG,
#slider .videoBG_wrapper,
#slider .videoBG_wrapper li,
.thinkupslider-sc .videoBG,
.thinkupslider-sc .videoBG_wrapper,
.thinkupslider-sc .videoBG_wrapper li {
	width: 100% !important;
	height: 100% !important;
}

/* Animate slide content */
#slider .featured-title,
#slider .featured-excerpt,
#slider .featured-link,
.thinkupslider-sc .featured-title,
.thinkupslider-sc .featured-excerpt,
.thinkupslider-sc .featured-link {
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-transform: translateY(35px);
	-moz-transform: translateY(35px);
	-ms-transform: translateY(35px);
	-o-transform: translateY(35px);
	transform: translateY(35px);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#slider .rslides > [class*="_on"] .featured-title,
#slider .rslides > [class*="_on"] .featured-excerpt,
#slider .rslides > [class*="_on"] .featured-link,
.thinkupslider-sc .rslides > [class*="_on"] .featured-title,
.thinkupslider-sc .rslides > [class*="_on"] .featured-excerpt,
.thinkupslider-sc .rslides > [class*="_on"] .featured-link {
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-webkit-transform: translate(0);
	-moz-transform: translate(0);
	-ms-transform: translate(0);
	-o-transform: translate(0);
	transform: translate(0);
}
#slider .rslides > [class*="_on"] .featured-title,
.thinkupslider-sc .rslides > [class*="_on"] .featured-title {
	-webkit-transition-delay: 1.0s;
	-moz-transition-delay: 1.0s;
	-ms-transition-delay: 1.0s;
	-o-transition-delay: 1.0s;
	transition-delay: 1.0s;
}
#slider .rslides > [class*="_on"] .featured-excerpt,
.thinkupslider-sc .rslides > [class*="_on"] .featured-excerpt {
	-webkit-transition-delay: 1.2s;
	-moz-transition-delay: 1.2s;
	-ms-transition-delay: 1.2s;
	-o-transition-delay: 1.2s;
	transition-delay: 1.2s;
}
#slider .rslides > [class*="_on"] .featured-link,
.thinkupslider-sc .rslides > [class*="_on"] .featured-link {
	-webkit-transition-delay: 1.4s;
	-moz-transition-delay: 1.4s;
	-ms-transition-delay: 1.4s;
	-o-transition-delay: 1.4s;
	transition-delay: 1.4s;
}

/* Slider - Alignment */
#slider .rslides-content.slider-left .featured-title,
#slider .rslides-content.slider-left .featured-excerpt,
#slider .rslides-content.slider-left .featured-link,
.thinkupslider-sc .rslides-content.slider-left .featured-title,
.thinkupslider-sc .rslides-content.slider-left .featured-excerpt,
.thinkupslider-sc .rslides-content.slider-left .featured-link {
	text-align: left;
}
#slider .rslides-content.slider-right .featured-title,
#slider .rslides-content.slider-right .featured-excerpt,
#slider .rslides-content.slider-right .featured-link,
.thinkupslider-sc .rslides-content.slider-right .featured-title,
.thinkupslider-sc .rslides-content.slider-right .featured-excerpt,
.thinkupslider-sc .rslides-content.slider-right .featured-link {
	text-align: right;
}
#slider .rslides-content.slider-center .featured-title,
#slider .rslides-content.slider-center .featured-excerpt,
#slider .rslides-content.slider-center .featured-link,
.thinkupslider-sc .rslides-content.slider-center .featured-title,
.thinkupslider-sc .rslides-content.slider-center .featured-excerpt,
.thinkupslider-sc .rslides-content.slider-center .featured-link {
	text-align: center;
}
#slider .rslides-content.slider-half .featured-title,
#slider .rslides-content.slider-half .featured-excerpt span,
#slider .rslides-content.slider-half .featured-link,
.thinkupslider-sc .rslides-content.slider-half .featured-title,
.thinkupslider-sc .rslides-content.slider-half .featured-excerpt span,
.thinkupslider-sc .rslides-content.slider-half .featured-link {
	width: 50%;
}
#slider .rslides-content.slider-middle .featured-title,
#slider .rslides-content.slider-middle .featured-excerpt,
#slider .rslides-content.slider-middle .featured-link,
.thinkupslider-sc .rslides-content.slider-middle .featured-title,
.thinkupslider-sc .rslides-content.slider-middle .featured-excerpt,
.thinkupslider-sc .rslides-content.slider-middle .featured-link {
	width: 50%;
	margin-left: auto;
	margin-right: 0;
}

/* Slider - Style 2 (Title - Theme, Excerpt - Black ) */
#slider .rslides-content.style2 .featured-title,
.thinkupslider-sc .rslides-content.style2 .featured-title {
	margin: 0;
}
#slider .rslides-content.style2 .featured-title span,
.thinkupslider-sc .rslides-content.style2 .featured-title span {
	background: #44AA00;
	padding: 10px 15px;
}
#slider .rslides-content.style2 .featured-excerpt span,
.thinkupslider-sc .rslides-content.style2 .featured-excerpt span {
	background: #222;
	padding: 10px 15px;
}

/* Slider - Style 3 (Title & Excerpt - Transparent Black ) */
#slider .rslides-content.style3 .featured-title span,
#slider .rslides-content.style3 .featured-excerpt span,
.thinkupslider-sc .rslides-content.style3 .featured-title span,
.thinkupslider-sc .rslides-content.style3 .featured-excerpt span {
	background: rgba(0, 0, 0, 0.4);
	padding: 10px 15px;
}
#slider .rslides-content.style3 .featured-title span,
.thinkupslider-sc .rslides-content.style3 .featured-title span {
	font-weight: 600;
}
#slider .rslides-content.style3 .featured-link a,
.thinkupslider-sc .rslides-content.style3 .featured-link a {
	background: #44AA00;
	border: none;
}
#slider .rslides-content.style3 .featured-link a:hover,
.thinkupslider-sc .rslides-content.style3 .featured-link a:hover {
	background: rgba(0, 0, 0, 0.4);
}

/* Slider - Style 4 (Title & Excerpt - Dark Colors ) */
#slider .rslides-content.style4 .featured-title span,
.thinkupslider-sc .rslides-content.style4 .featured-title span {
	color: #333;
}
#slider .rslides-content.style4 .featured-excerpt span,
.thinkupslider-sc .rslides-content.style4 .featured-excerpt span {
	color: #667;
}
#slider .rslides-content.style4 .featured-link a,
.thinkupslider-sc .rslides-content.style4 .featured-link a {
	color: #333;
	border: 1px solid #333;
}
#slider .rslides-content.style4 .featured-link a:hover,
.thinkupslider-sc .rslides-content.style4 .featured-link a:hover {
	color: #FFF;
	background: #333;
}

/* Slider - Style 5 (Title & Excerpt - Transparent White Background - Dark Font ) */
#slider .rslides-content.style5 .featured-title span,
#slider .rslides-content.style5 .featured-excerpt span,
.thinkupslider-sc .rslides-content.style5 .featured-title span,
.thinkupslider-sc .rslides-content.style5 .featured-excerpt span {
	background: #FFF;
	background: rgba(255, 255, 255, 0.75);
	padding: 10px 20px;
}
#slider .rslides-content.style5 .featured-title span,
.thinkupslider-sc .rslides-content.style5 .featured-title span {
	color: #333;
	font-weight: 600;
	text-transform: uppercase;
}
#slider .rslides-content.style5 .featured-excerpt span,
.thinkupslider-sc .rslides-content.style5 .featured-excerpt span {
	color: #667;
}

/* Slider - Style 6 (Title - Black Background - White Font, Excerpt - Dark Color ) */
#slider .rslides-content.style6 .featured-title span,
.thinkupslider-sc .rslides-content.style6 .featured-title span {
	text-transform: uppercase;
	color: #FFF;
	background: #000;
	font-weight: 600;
	padding: 10px;
}
#slider .rslides-content.style6 .featured-excerpt span,
.thinkupslider-sc .rslides-content.style6 .featured-excerpt span {
	color: #000;
	font-weight: 600;
}
#slider .rslides-content.style6 .featured-link a,
.thinkupslider-sc .rslides-content.style6 .featured-link a {
	color: #000;
	border: 1px solid #000;
}
#slider .rslides-content.style6 .featured-link a:hover,
.thinkupslider-sc .rslides-content.style6 .featured-link a:hover {
	color: #FFF;
	border-color: #44AA00;
}

/* Slider - Style 7 (Title - Dark Background - Light Color, Excerpt - Light Background - Dark Color ) */
#slider .rslides-content.style7 .featured-title span,
#slider .rslides-content.style7 .featured-excerpt span,
.thinkupslider-sc .rslides-content.style7 .featured-title span,
.thinkupslider-sc .rslides-content.style7 .featured-excerpt span {
	padding: 10px;
}
#slider .rslides-content.style7 .featured-title span,
.thinkupslider-sc .rslides-content.style7 .featured-title span {
	text-transform: uppercase;
	color: #FFF;
	background: #000;
	font-weight: 600;
}
#slider .rslides-content.style7 .featured-excerpt span,
.thinkupslider-sc .rslides-content.style7 .featured-excerpt span {
	color: #000;
	font-weight: 400;
	background: #fff;
}


/* =Intro Options
----------------------------------------------------------------------------- */
#intro.option1 {
	margin-bottom: 25px;
}
#intro.option1 #intro-core {
	position: relative;
	width: 100%;
	display: table;
	padding-bottom: 20px;
}
#intro.option1 .page-title {
	line-height: 1;
	text-transform: uppercase;
	margin: 0px;
	display: table-cell;
}
#intro.option1 #intro-core:before {
	content: '';
	position: absolute;
	bottom: 0px;
	width: 100%;
	border-bottom: 1px solid #EEE;
}
#intro.option1 #intro-core:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0px;
	width: 25px;
	border-bottom: 3px solid #44AA00;
}

/* =Notification Bar
----------------------------------------------------------------------------- */
#notification {
	position: relative;
	z-index:999999;
	width: 100%;
	margin: 0 auto;
	background: #364BE6;
	border-bottom: 2px solid white;
	-webkit-box-shadow: 0 0 6px 0 #999;
	-moz-box-shadow: 0 0 6px 0 #999;
	-ms-box-shadow: 0 0 6px 0 #999;
	-o-box-shadow: 0 0 6px 0 #999;
	box-shadow: 0 0 6px 0 #999;
}
#notification-core {
	text-align: center;
	color: white;
	padding: 5px 0px;
}
#notification-core .notification-button {
	color: white;
	background: black;
	padding: 3px 10px;
	margin: 0px 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}


/* ---------------------------------------------------------------------------------------
	07. MAIN CONTENT
--------------------------------------------------------------------------------------- */

/* =Buttons
----------------------------------------------------------------------------- */
.themebutton,
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	color: #FFF;
	text-align: center;
	border: none;
	background: #44AA00;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
a.themebutton {
	color: #FFF;
}
.themebutton:hover,
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background: #333;
}
a:focus,
.themebutton:focus,
button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
	outline: 1px dotted #9fc1f7;
}

/* =Breadcrumbs
----------------------------------------------------------------------------- */
#breadcrumbs {
	font-size: 10px;
	display: table-cell;
	text-align: right;
	vertical-align: middle;
}
#breadcrumbs .delimiter {
	padding: 0px 10px;
	color: #44AA00;
}
#breadcrumbs a:hover {
	color: #44AA00;
}
#breadcrumbs-core {
	display: inline-block;
}

/* =Pre-Designed Homepage (code also in style-responsive.css)
----------------------------------------------------------------------------- */
#section-home {
	text-align: center;
	padding: 0 10px;
}
#section-home-inner {
	max-width: 1140px;
	margin: 20px auto 0;
}
#section-home .section {
	display: block;
	background: white;
	padding: 10px;
	border: 1px solid #E0E0E0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#section-home .entry-header {
	position: relative;
	z-index: 2;
	width: 100%;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
#section-home .entry-header span {
	background: #333;
	display: block;
	position: relative;
	border-radius: 500px;  
	width: 90px;  
	height: 90px;  
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
}
#section-home .entry-header i {
	font-size: 50px;
	color: white;
	position: relative;
	top: 20px;
}

#section-home img {
	margin: 0 auto;
	display: block;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#section-home .entry-content {
	padding-top: 20px;
}
#section-home h3 {
	font-size: 18px;
	font-weight: 600
}
#section-home .more-link {
	padding: 5px 10px;
}
#section-home .more-link:after {
	font-family: FontAwesome;
	content: '\F101';
	padding-left: 5px
}


/* =Call to Action / Attention Grabber
----------------------------------------------------------------------------- */
#introaction,
#outroaction { 
	padding: 10px;
}
#introaction-core,
#outroaction-core {
	padding: 20px 0;
	border-width: 1px 0;
	border-style: solid;
	border-color: #EEE;
}
.action-text.three_fourth,
.action-button.one_fourth,
.action-text h3,
.action-text p,
.attention_text.three_fourth,
.attention_button.one_fourth,
.attention_text h3,
.attention_text p {
	margin-bottom: 0px;
}
.action-text h3,
.attention_text h3 {
	margin-top: 0px;
}
.action-text h3,
.action-text p,
.attention_text h3,
.attention_text p {
	margin-left: 10px;
	margin-right: 10px;
}
.action-button h4,
.attention_button h4 {
	font-size: 14px;
	text-transform: uppercase;
	padding: 15px 20px;
	margin: 0px 10px;
}


/* =Floating Content
----------------------------------------------------------------------------- */
#header-core:before,
#header-core:after,
#header-links-inner .menu:before,
#header-links-inner .menu:after,
#intro-core:before,
#intro-core:after,
#introaction-core:before,
#introaction-core:after,
#outroaction-core:before,
#outroaction-core:after,
#main-core:before,
#main-core:after,
#content-core:before,
#content-core:after,
#article:before,
#article:after,
#nav-above:before,
#nav-above:after,
#nav-below:before,
#nav-below:after,
#sharepost:before,
#sharepost:after,
#author-image:before,
#author-image:after,
#author-bio:before,
#author-bio:after,
#sub-footer:before,
#sub-footer:after,
#footer-core:before,
#footer-core:after,
.entry-meta:before,
.entry-meta:after,
.attention:before,
.attention:after,
ul.pricing-table:before,
ul.pricing-table:after,
.popular-posts:before,
.popular-posts:after,
.recent-comments:before,
.recent-comments:after,
.recent-posts:before,
.recent-posts:after,
.searchform:before,
.searchform:after {
    content:"";
    display:table;
}
#header-core:after,
#header-links-inner .menu:after,
#intro-core:after,
#introaction-core:after,
#outroaction-core:after,
#main-core:after,
#content-core:after,
#article:after,
#nav-above:after,
#nav-below:after,
#sharepost:after,
#author-image:after,
#author-bio:after,
#sub-footer:after,
#footer-core:after,
.entry-meta:after,
.attention:after,
ul.pricing-table:after,
.popular-posts:before,
.popular-posts:after,
.recent-comments:after,
.recent-posts:after,
.searchform:after {
    clear:both;
}


/* ---------------------------------------------------------------------------------------
	08. FOOTER
--------------------------------------------------------------------------------------- */
#footer {
	background: #333;
	border-top: 6px solid #44AA00;
	border-bottom: 1px solid #111;
	padding: 15px 10px;
}
#footer-core h3 {
	color: #EEE;
	font-size: 14px;
	text-transform: uppercase;
	padding-bottom: 8px;
	margin: 10px 0px 15px;
	border-bottom: 1px solid #222;
	-webkit-box-shadow: 0 1px 0 0 #444;
	-moz-box-shadow: 0 1px 0 0 #444;
	-ms-box-shadow: 0 1px 0 0 #444;
	-o-box-shadow: 0 1px 0 0 #444;
	box-shadow: 0 1px 0 0 #444;
}
#footer-core h3 span {
}
#footer-core,
#footer-core p,
#footer-core a:hover {
	color: #AAA;
}
#footer-core a {
	color: #44AA00;
}
/* Sub Footer */
#sub-footer {
	background: rgb(0, 54, 14);
	border-top: 1px solid rgb(0, 102, 27);
	padding: 15px 0px;
}
#sub-footer-core {
	padding: 0px 10px;
}
#sub-footer-core, 
#sub-footer-core a {
	font-size: 11px;
}
#sub-footer-core {
	color: #AAA;
	text-align: center;
}
#sub-footer-core a {
	color: #EEE;
}
#sub-footer-core a:hover {
	color: #44AA00
}

#footer-menu {
	margin-bottom: 10px;
}
#footer-menu a {
	padding: 0 8px;
}
#footer-menu ul {
	margin: 0px;
}
#footer-menu li {
	display: inline-block;
}
#footer-menu li:after {
	content: "|";
}
#footer-menu li:last-child:after {
	content: none;
}

.copyright {
	text-align: right;
}


/* ---------------------------------------------------------------------------------------
	09. WIDGETS & SIDEBAR
--------------------------------------------------------------------------------------- */

/* =Sidebar
--------------------------------------------------------------------------------------- */
#sidebar .widget { 
	margin-bottom: 35px; 
	border-bottom: 1px solid #EEE;
}
#sidebar h3.widget-title {
	position: relative;
	font-size: 13px;
	text-transform: uppercase;
	padding-bottom: 10px;
	margin: 0 0 15px;
}
#sidebar .rev_slider_wrapper {
	padding: 3px;
	border: 1px solid #ddd;
}
#sidebar h3.widget-title:before {
	content: '';
	position: absolute;
	bottom: 0px;
	width: 100%;
	border-bottom: 1px solid #EEE;
}
#sidebar h3.widget-title:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0px;
	width: 25px;
	border-bottom: 3px solid #44AA00;
}

/* Left Sidebar Layout */
.layout-sidebar-left #main {
	float: right;
	width: 75%;
	display: block;
}
.layout-sidebar-left #intro,
.layout-sidebar-left #main-core {
	margin-left: 40px;
}
.layout-sidebar-left #sidebar {
	display: block;
	float: right;
	width: 25%;
}
.layout-sidebar-left #sidebar-core {
	margin-right: 20px;
}

/* Right Sidebar Layout */
.layout-sidebar-right #main {
	float: left;
	width: 75%;
	display: block;
}
.layout-sidebar-right #intro,
.layout-sidebar-right #main-core {
	margin-right: 40px;
}
.layout-sidebar-right #sidebar {
	display: block;
	float: left;
	width: 25%;
}
.layout-sidebar-right #sidebar-core {
	margin-left: 20px;
}

/* =Widgets
--------------------------------------------------------------------------------------- */
.widget {
	line-height: 1.8;
}
.widget select {
	max-width: 100%
}
.widget a {
	color: inherit;
}
#footer .widget { 
	margin-bottom: 20px; 
}
#footer .widget-area .widget:last-child {
	margin-bottom: 0px;
}

/* Custom Widget - Link color  - Various widgets */
#footer .thinkup_widget_categories a,
#footer .popular-posts a,
#footer .recent-comments a,
#footer .recent-posts a,
#footer .thinkup_widget_tagscloud a {
	color: #AAA;
}
#footer .thinkup_widget_categories a:hover {
	color: white;
}
#footer .popular-posts a:hover,
#footer .recent-comments a:hover,
#footer .recent-posts a:hover,
#footer .thinkup_widget_tagscloud a:hover {
	color: #44AA00;
}

/* Custom Widget - Categories */
.thinkup_widget_categories { list-style: none; padding-bottom: 10px; }
.thinkup_widget_categories ul { list-style: none; margin: 0; }
.thinkup_widget_categories li i { padding: 0 10px; }
.thinkup_widget_categories li a { display: block !important; padding-left: 10px !important }
.thinkup_widget_categories li a:hover { color: white !important; background: #44AA00; }
.thinkup_widget_categories li span span { float: right; padding-right: 5px; }
.thinkup_widget_categories select { width: 95%; margin-top: 5px; }

#sidebar .thinkup_widget_categories select { width: 100%; }
#sidebar .thinkup_widget_categories .widget-main { padding-top: 5px; }


/* Custom Widget - Child Menu */
.thinkup_widget_childmenu ul {
	border-width: 1px 1px 0;
}
.thinkup_widget_childmenu li a {
	display: block !important;
	padding: 10px 20px !important;
}
.thinkup_widget_childmenu li > a:before {
	font-family: fontawesome;
	content: "\f105";
	float: right;
	margin: 0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.thinkup_widget_childmenu li a.active,
.thinkup_widget_childmenu li a:hover,
.thinkup_widget_childmenu li > a.active:before,
.thinkup_widget_childmenu li > a:hover:before {
	color: #44AA00;
}

/* Custom Widget - Contact Form */
.wpcf7-form p { 
	margin-bottom: 10px; 
}
.wpcf7-form input {
	width: 100%;
}
.wpcf7-form input[type="submit"] {
	width: inherit;
	padding: 8px 30px;
}
.wpcf7-form textarea {
	height: 94px;
	min-height: 68px;
}
.wpcf7-form .wpcf7-response-output {
	margin-left: 0;
	margin-right: 0;
}
.wpcf7-form .wpcf7-not-valid-tip {
	width: 100%;
	left: 0;
	top: -6px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.wpcf7-checkbox input {
    width: auto;
}
.wpcf7-checkbox input[type="checkbox"] {
    margin: 3px 3px 3px 4px;
    vertical-align: top;
}

#footer .wpcf7-form input,
#footer .wpcf7-form textarea {
	color: #BBB;
	border: 1px solid #353535;
	background: #222;
	background: rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
#footer .wpcf7-form input[type=submit] {
	text-transform: capitalize;
	border: 1px solid #111;
	background: #1A1A1A;
}

/* Custom Widget - Contact Form 7 placeholder text color */
.wpcf7-form ::-webkit-input-placeholder { opacity: 0.6; }
.wpcf7-form :-moz-placeholder { opacity: 0.6; }
.wpcf7-form ::-moz-placeholder { opacity: 0.6; }
.wpcf7-form :-ms-input-placeholder { opacity: 0.6; }

/* Custom Widget - Flickr */
.thinkup_widget_flickr a,
.thinkup_widget_flickr img {
	display: block;
}
.thinkup_widget_flickr img {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.thinkup_widget_flickr .column-2, 
.thinkup_widget_flickr .column-3, 
.thinkup_widget_flickr .column-4 {
	float: none;
	width: 100%;
}
.thinkup_widget_flickr .column-2 .flickr-photo {
	width: 47.5%;
	margin-right: 5%;
	margin-bottom: 10px;
	float: left;
	position: relative;
}
.thinkup_widget_flickr .column-3 .flickr-photo {
	width: 32%;
	margin-right: 2%;
	margin-bottom: 5px;
	float: left;
	position: relative;
}
.thinkup_widget_flickr .column-4 .flickr-photo {
	width: 21.25%;
	margin-right: 5%;
	margin-bottom: 8px;
	float: left;
	position: relative;
}
.thinkup_widget_flickr .column-2 .flickr-photo:nth-child(2n),
.thinkup_widget_flickr .column-3 .flickr-photo:nth-child(3n),
.thinkup_widget_flickr .column-4 .flickr-photo:nth-child(4n) {
	margin-right:0;
}
.thinkup_widget_flickr a .image-overlay {
	background-color: #44AA00;
	opacity: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0;
	height: 100%;
	max-width: 75px;
	max-height: 75px;
	background-image: url('images/shortcodes/icon-link.png');
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.thinkup_widget_flickr a:hover .image-overlay {
	opacity: 0.9;
	width: 100%;
	height: 100%;
}

/* Custom Widget - Popular Posts */ /* Recent Comments */ /* Recent Posts */
.popular-posts .image,
.recent-comments .image,
.recent-posts .image {
	margin-right: 5%;
	margin-bottom: 10px;
	position: relative;
	float: left;
	max-width: 30%;
}
.popular-posts .main,
.recent-comments .main,
.recent-posts .main {
	margin-bottom: 10px;
	position: relative;
	float: left;
	width: 65%;
}
.popular-posts,
.recent-comments,
.recent-posts {
	clear:both;
}
.popular-posts a,
.recent-comments a,
.recent-posts a,
.popular-posts img,
.recent-comments img,
.recent-posts img {
	display: block;
}
.popular-posts img,
.recent-comments img,
.recent-posts img {
	width: 64px;
}
.popular-posts .comment,
.recent-comments .date,
.recent-posts .date {
	font-size: smaller;
	opacity: 0.8;
}

.popular-posts a .image-overlay,
.recent-comments a .image-overlay,
.recent-posts a .image-overlay {
	background-color: #44AA00;
	opacity: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0;
	height: 100%;
	max-width: 75px;
	max-height: 75px;
	background-image: url('images/shortcodes/icon-link.png');
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.popular-posts:hover .image-overlay,
.recent-comments:hover .image-overlay,
.recent-posts:hover .image-overlay {
	opacity: 0.9;
	width: 100%;
	height: 100%;
}
.popular-posts:last-child,
.recent-comments:last-child,
.recent-posts:last-child {
	margin-bottom: 1px;
}

/* Custom Widget - Recent Comments Quotes */
.thinkup_widget_recentcomments .quote {
	padding-left: 15px;
}
.thinkup_widget_recentcomments .quote:before {
	font-family: "Times New Roman",Georgia,Times,serif;
	content: '\201C';
	margin: -8px -15px;
	position: absolute;
}
.thinkup_widget_recentcomments .quote:before {
	color: #44AA00;
	font-size: 150%;
	font-weight: bold;
	display: inline;
}

/* Custom Widget - Tabs Specific */
.thinkup_widget_tabs .nav-tabs {
	margin: 0;
	border: none;
}
.thinkup_widget_tabs li {
	border-bottom: none !important;
	width: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.thinkup_widget_tabs li a,
.thinkup_widget_tabs li a:hover,
.thinkup_widget_tabs li.active a,
.thinkup_widget_tabs li.active:hover a {
	display: block !important;
	padding: 0 !important;
	margin: 0;
	border: none;
	background: none;
}
.thinkup_widget_tabs h3.widget-title {
	text-align: center;
	padding: 6px 5px 5px;
	-webkit-transition: all 0s;
	-moz-transition: all 0s;
	-ms-transition: all 0s;
	-o-transition: all 0s;
	transition: all 0s;
}

#sidebar .thinkup_widget_tabs h3.widget-title:before,
#sidebar .thinkup_widget_tabs h3.widget-title:after {
visibility: hidden;
}
#sidebar .thinkup_widget_tabs h3.widget-title {
	border-top: 2px solid white;
	border-bottom: 1px solid #DDD;
	margin: 0;
}
#sidebar .thinkup_widget_tabs .nav .active h3.widget-title {
	padding-top: 5px;
	border: 1px solid #DDD;
	border-top: 3px solid #44AA00;
	border-bottom: none;
	-webkit-box-shadow: 1px 0px 1px 0px #EEE;
	-moz-box-shadow: 1px 0px 1px 0px #EEE;
	-ms-box-shadow: 1px 0px 1px 0px #EEE;
	-o-box-shadow: 1px 0px 1px 0px #EEE;
	box-shadow: 1px 0px 1px 0px #EEE;
}
#sidebar .thinkup_widget_tabs .tab-content {
	padding: 10px;
	border: 1px solid #DDD;
	border-top: none;
	-webkit-box-shadow: 1px 1px 1px 0px #EEE;
	-moz-box-shadow: 1px 1px 1px 0px #EEE;
	-ms-box-shadow: 1px 1px 1px 0px #EEE;
	-o-box-shadow: 1px 1px 1px 0px #EEE;
	box-shadow: 1px 1px 1px 0px #EEE;
}
#sidebar .thinkup_widget_tabs .recent-posts:last-child,
#sidebar .thinkup_widget_tabs .popular-posts:last-child {
	margin: 0;
	border: 0;
}

#footer .thinkup_widget_tabs h3.widget-title {
	border-bottom: 1px solid #222;
	margin: 0;
	-webkit-box-shadow: inset 0 -1px 0 0 #444;
	-moz-box-shadow: inset 0 -1px 0 0 #444;
	-ms-box-shadow: inset 0 -1px 0 0 #444;
	-o-box-shadow: inset 0 -1px 0 0 #444;
	box-shadow: inset 0 -1px 0 0 #444;
}
#footer .thinkup_widget_tabs .nav .active h3.widget-title {
	padding-top: 5px;
	border: 1px solid #222;
	border-bottom: none;
	-webkit-box-shadow: 1px 0 0 0 #444;
	-moz-box-shadow: 1px 0 0 0 #444;
	-ms-box-shadow: 1px 0 0 0 #444;
	-o-box-shadow: 1px 0 0 0 #444;
	box-shadow: 1px 0 0 0 #444;
}
#footer .thinkup_widget_tabs .tab-content {
	padding: 10px 10px 5px;
	border: 1px solid #222;
	border-top: none;
	-webkit-box-shadow: 1px 1px 0 0 #444;
	-moz-box-shadow: 1px 1px 0 0 #444;
	-ms-box-shadow: 1px 1px 0 0 #444;
	-o-box-shadow: 1px 1px 0 0 #444;
	box-shadow: 1px 0 0 0 #444;
}
#footer .thinkup_widget_tabs .recent-posts:last-child,
#footer .thinkup_widget_tabs .popular-posts:last-child {
	margin: 0;
	border: 0;
}

/* Custom Widget - Search Form */
.thinkup_widget_search form {
	padding-bottom: 15px;
}
.thinkup_widget_search .search {
	float: left;
	width: 68%;
	margin-right: 2%;
	border: 1px solid #E0E0E0;
}
.thinkup_widget_search .searchsubmit {
	display: block;
	float: left;
	width: 30%;
	border: none;
}
#footer .thinkup_widget_search .search {
	background: #222;
	border: 1px solid #444;
}

#footer .thinkup_widget_search .searchsubmit {
	background: #44AA00;
	padding: 11px 6px;
}
#footer .thinkup_widget_search .searchsubmit:hover {
	background: #82CB51;
}

/* Custom Widget - Search input placeholder text color */
.thinkup_widget_search ::-webkit-input-placeholder { color: white; }
.thinkup_widget_search :-moz-placeholder { color: white; }
.thinkup_widget_search ::-moz-placeholder { color: white; }
.thinkup_widget_search :-ms-input-placeholder { color: white; }

#footer .thinkup_widget_search ::-webkit-input-placeholder { color: #222; }
#footer .thinkup_widget_search :-moz-placeholder { color: #222; }
#footer .thinkup_widget_search ::-moz-placeholder { color: #222; }
#footer .thinkup_widget_search :-ms-input-placeholder { color: #222; }

/* Custom Widget - Tags Cloud */
.thinkup_widget_tagscloud {
	padding-bottom: 10px;
}
.thinkup_widget_tagscloud a {
	display: inline-block;
	font-size: smaller;
	padding: 2px 8px;
	margin: 0 2px 2px 0;
}

#sidebar .thinkup_widget_tagscloud a {
	border: 1px solid #DDD;
	text-transform: uppercase;
}
#sidebar .thinkup_widget_tagscloud a:hover {
	border-color: #44AA00;
}

#footer .thinkup_widget_tagscloud a {
	border: 1px solid #222;
}
#footer .thinkup_widget_tagscloud a:hover {
	color: #f5f5f5;
	border-color: #44AA00;
}

/* Custom Widget - Twitter Feed */
.thinkup_widget_twitterfeed {
	padding-bottom: 10px;
}
.thinkup_widget_twitterfeed ul {
	margin: 0;
	list-style: none;
}
.thinkup_widget_twitterfeed .tweet-content {
	padding: 0 0 0px 40px !important;
}
.thinkup_widget_twitterfeed .tweet-content:last-child p {
	margin-bottom: 0;
}
.thinkup_widget_twitterfeed .tweet-content a {
	display: inline;
	padding: 0;
}

#sidebar .thinkup_widget_twitterfeed a {
	color: #44AA00;
}
#sidebar .thinkup_widget_twitterfeed a:hover {
	color: inherit;
}
#sidebar .thinkup_widget_twitterfeed .tweet-content {
	background: url('images/widgets/twitter-bird-light-bgs.png') -8px -5px no-repeat;
	background-size: 40px;
}

#footer .thinkup_widget_twitterfeed .tweet-content {
	background: url('images/widgets/twitter-bird-dark-bgs.png') -8px -5px no-repeat;
	background-size: 40px;
}
#footer .thinkup_widget_twitterfeed small {
	color: white;
	display: block;
}

/* Default Widgets */
.widget ul { 
	margin: 0;
	border-width: 1px 1px 0 1px; 
	border-style: solid; 
	border-color: #EEE; 
}
.widget li { 
	list-style: none; 
	border-bottom: 1px solid #EEE; 
}
.widget li a { 
	padding: 5px 0px 5px 20px; 
	display: inline-block;
	vertical-align: top;
}
.widget li a:hover { 
	color: #44AA00
}
.widget ul.children,
.widget ul.sub-menu { 
	border-left:none; 
	border-right:none; 
	border-bottom: none !important;
}
.widget ul.children li:last-child,
.widget ul.sub-menu li:last-child { 
	border-bottom: none; 
}
.widget ul.children li a,
.widget ul.sub-menu li a { 
	padding-left: 40px;
}
.widget ul.children ul.children li a,
.widget ul.sub-menu ul.sub-menu li a { 
	padding-left: 60px;
}
.widget select { 
	width: 100%; 
	margin-top: 10px;
}

/* Default Widgets - Footer Area */
#footer .widget ul { 
	border: none;
}
#footer .widget li { 
	border: none; 
	padding: 2px 0;
}
#footer .widget li a { 
	padding: 1px 0px;
	display: inline-block;
}
#footer .widget ul.children li a,
#footer .widget ul.sub-menu li a { 
	padding-left: 15px;
}
#footer .widget ul.children ul.children li a,
#footer .widget ul.sub-menu ul.sub-menu li a { 
	padding-left: 30px; 
}

/* Widget Specific - Calendar */
.widget_calendar #wp-calendar { 
	margin: 0; 
}

/* Default Widget - Rss */
#sidebar .widget_rss li {
	padding: 20px
}
.widget li a.rsswidget {
padding: 0;
}
.widget li .rsswidget,
.widget li .rss-date,
.widget li .rssSummary {
	padding: 5px 0
}

/* Default Widget - Tag Cloud */
.widget_tag_cloud a {
	font-size: 10px !important;
	display: inline-block; 
	text-transform: uppercase; 
	padding: 2px 8px; 
	margin: 0 0px 3px 0;
}
#sidebar .widget_tag_cloud a { 
	border: 1px solid #DDD;
}
#sidebar .widget_tag_cloud a:hover { 
	border-color: #44AA00;
}
#footer .widget_tag_cloud a {
	border: 1px solid #1C1C1C;
	padding: 2px 8px;
}
#footer .widget_tag_cloud a:hover { 
	color: white; 
	border-color: #44AA00;
}

/* Default Widget - Text */
#sidebar .textwidget {
	padding: 20px;
	border: 1px solid #EEE; 
}
/* Default Widget - Search */
.widget_search .search {
	float: left;
	width: 68%;
	margin-right: 2%;
	border: 1px solid #E0E0E0;
}
.widget_search .searchsubmit {
	display: block;
	float: left;
	width: 30%;
	padding: 10px 5px;
	border: none;
}
#footer .widget_search .search {
	background: #222;
	border: 1px solid #444;
}
#footer .widget_search .searchsubmit {
	background-color: #44AA00;
}
#footer .widget_search .searchsubmit:hover {
	background-color: #82CB51;
}

/* Default Widget - Remove Borders */
#sidebar .widget_tag_cloud, 
#sidebar .widget_archive, 
#sidebar .widget_categories, 
#sidebar .widget_search { 
	border-bottom: none; 
}



/* ---------------------------------------------------------------------------------------
	10. PAGE FORMATS
--------------------------------------------------------------------------------------- */

/* =Meta Content
----------------------------------------------------------------------------- */
.entry-meta {
	font-size: 90%;
	margin-bottom: 20px;
}
.entry-meta a {
	color: inherit; 
}
.entry-meta a:hover {
	color: #44AA00;
}
.entry-meta > span {
	display: inline-block;
	padding-right: 15px;
}
.entry-meta i {
	padding-right: 10px;
}
.sticky {
}

/* =Blog - Style 1 & Style 2
--------------------------------------------------------------------------------------- */
.blog-thumb {
	max-width: 100%;
	overflow: hidden;
	position: relative;
}
.blog-thumb img {
	display: block;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.blog-thumb img:hover {
	opacity: 0.8; 
}
.blog-title a {
	color: inherit;
}
.blog-article .more-link {
	color: #fff !important;
	padding: 5px 10px;
}
.blog-article .more-link:after {
	font-family: FontAwesome;
	content: '\F101';
	padding-left: 5px;
}

.blog-article {
	padding: 20px;
	margin-bottom: 30px;
	border: 1px solid #E0E0E0;
}
.blog-article .entry-header {
	margin-bottom: 0;
}
.blog-article .blog-title {
	font-size: 15px;
	text-transform: uppercase;
	margin-top: 0px; 
	margin-bottom: 10px; 
}

/* =Blog - Style 2
--------------------------------------------------------------------------------------- */
.blog-style2 .blog-grid.column-2 {
	width: 50%;
	padding: 0 10px;
}
.blog-style2 .blog-grid.column-3 { 
	width: 33%;
	padding: 0 10px;
}
.blog-style2 .blog-grid.column-4 { 
	width: 25%;
	padding: 0 10px;
}
.blog-style2 .blog-article {
	padding: 0;
	margin-bottom: 20px;
}
.blog-style2 .blog-article .entry-content {
	padding: 20px 20px 10px;
}

/* =Single Post
--------------------------------------------------------------------------------------- */

/* Post Format */
.post-thumb {
	margin-bottom: 15px;
}

/* Featured Image Specific */
.single .format-image .post-thumb img {
	display: block;
}

/* Featured Gallery Specific */
.single .format-gallery .post-thumb .rslides-sc .rslides-container {
	padding: 0;
}
.single .format-gallery .post-thumb .slides.rslides li {
	z-index: 0 !important;
}

/* Featured Video Specific */
.single .format-video .post-thumb iframe {
	display: block;
}

/* Post - Share */
#sharepost {
	display: table;
	width: 100%;
	padding: 10px 0;
	margin: 20px 0px;
}
#sharemessage,
#shareicons {
	width: 50%;
	display: table-cell;
	vertical-align: middle;
}
#sharemessage {
	text-align: right;
	padding-right: 20px;
	white-space: nowrap;
}
#sharemessage h3{
	font-size: 13px;
	word-spacing: 1px;
	margin: 0;
}
#shareicons {
	padding-left: 20px
}
#shareicons a {
	float: left;
	text-align: center;
	display: inline-block;
	margin-right: 20px;
	width: 20px;
	height: 20px;
}
#shareicons i {
	text-shadow: 1px 1px 0px #FFF;
	overflow: visible;
	font-size: 20px;
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	-ms-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	transition: all 0.15s linear;
}
#shareicons a:hover i {
}
#shareicons .tooltip-inner {
	text-shadow: none;
	padding: 4px 8px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}

/* Author Bio */
#author-bio {
	border: 1px solid #E5E5E5;
	margin: 20px 0 30px;
	padding: 15px 15px 20px;
}
#author-bio .one_sixth,
#author-bio .five_sixth,
#author-bio p:last-child {
	margin-bottom: 0px;
}
#author-bio h3 {
	font-size: 14px;
	text-transform: uppercase;
	margin: 0 0 10px;
}

/* User Comment */
.bypostauthor {
}
#comments-title,
#reply-title {
	font-size: 14px;
	text-transform: uppercase;
	margin: 0 0 15px;
}
.commentlist article {
	display: table;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.commentlist article header {
	display: table;
}
.commentlist article header img,
.commentlist article header span {
	display: table-cell;
	vertical-align: middle;
}

.commentlist article header img {
	padding: 10px;

}
.commentlist article header span {
	padding: 10px 5px 10px 10px;

}
.commentlist article footer {
	position: relative;
	padding: 20px;
	margin-top: 10px;
	border: 1px solid #E5E5E5;
}
.commentlist article footer:after,
.commentlist article footer:before {
	right: 100%;
	border: solid rgba(0, 0, 0, 0);
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.commentlist article footer:before {
	border-bottom-color: #CCC;
	border-width: 11px;
	top: -22px;
	left: 17px;
}
.commentlist article footer:after {
	border-bottom-color: #FFF;
	border-width: 10px;
	top: -20px;
	left: 18px;
}
.commentlist {
	margin: 0 0 25px 0;
}
.commentlist .children {
	list-style: none;
	margin: 0px;
}
.commentlist .children {
	margin: 0 0 0 82px;
}
.commentlist .comment,
.commentlist .pingback {
	list-style: none;
	margin-bottom: 15px;
}
.commentlist .avatar {
	width: 40px;
}
.comment-meta {
	padding-right: 10px;
}
.comment-author a {
	color: inherit;
	font-weight: bold;
}
.comment-meta a {
	color: inherit;
}
.comment .reply a {
	color: #44AA00;
}
.comment-author a:hover,
.comment-meta a:hover {
	color: #44AA00;
}
.comment .reply a:hover {
	color: inherit;
}
.comment-meta a,
.comment .reply a {
	font-size: 90%;
}
.comment-content p:last-child{
	margin: 0;
}
li.pingback {
	font-weight: bold;
}
li.pingback a {
	font-weight: normal;
}

/* Comment Form */
#commentform input[type="text"] {
	width: 100%;
}
#commentform input[type="text"],
#commentform #comment {
	margin-top: 5px;
}
#commentform .form-allowed-tags {
	font-size: 11px;
}
.required {
	color: #880000;
}

/* =Contact Us
--------------------------------------------------------------------------------------- */
.page-template-template-contact iframe {
	width: 100% !important;
	max-height: 350px !important;
}
.page-template-template-contact-php #main .google-map-placeholder {
	width: 100% !important;
	height: 260px !important;
}
.page-template-template-contact-php #main .wpcf7-form input[type="submit"] {
	padding: 10px 40px;
}

/* =Archive
--------------------------------------------------------------------------------------- */
.page-template-template-archive-php h3.page-title {
	margin-top: 0
}
.page-template-template-archive-php #main-core a {
	color: inherit;
}
.page-template-template-archive-php #main-core a:hover {
	color: #44AA00;
}
.page-template-template-archive-php ul.archive-pages,
.page-template-template-archive-php ul.archive-categories,
.page-template-template-archive-php ul.archive-authors,
.page-template-template-archive-php ul.archive-monthly,
.page-template-template-archive-php ul.archive-recent {
	margin-left: 2px;
	list-style: none;
}
.page-template-template-archive-php ul.archive-pages li,
.page-template-template-archive-php ul.archive-categories li,
.page-template-template-archive-php ul.archive-authors li,
.page-template-template-archive-php ul.archive-monthly li,
.page-template-template-archive-php ul.archive-recent li {
	padding-bottom: 4px;
}
.page-template-template-archive-php ul.archive-pages .children li,
.page-template-template-archive-php ul.archive-categories .children li,
.page-template-template-archive-php ul.archive-authors .children li,
.page-template-template-archive-php ul.archive-monthly .children li,
.page-template-template-archive-php ul.archive-recent .children li {
	padding-left: 25px;
}
.page-template-template-archive-php ul.archive-pages li:before,
.page-template-template-archive-php ul.archive-categories li:before,
.page-template-template-archive-php ul.archive-authors li:before,
.page-template-template-archive-php ul.archive-monthly li:before,
.page-template-template-archive-php ul.archive-recent li:before {
	color: #AAA;
	line-height: 1;
	font-family: FontAwesome;
	content: "\f105";
	font-size: 1.3333333333333333em;
	padding-right: 10px;
}
.page-template-template-archive-php ul.archive-pages ul.children,
.page-template-template-archive-php ul.archive-categories ul.children,
.page-template-template-archive-php ul.archive-authors ul.children,
.page-template-template-archive-php ul.archive-monthly ul.children,
.page-template-template-archive-php ul.archive-recent ul.children {
	margin: 10px 0px 10px -2px;
	list-style: none;
}

/* =Sitemap
--------------------------------------------------------------------------------------- */
.page-template-template-sitemap-php h3.page-title {
	margin-top: 0
}
.page-template-template-sitemap-php #main-core a {
	color: inherit;
}
.page-template-template-sitemap-php #main-core a:hover {
	color: #44AA00;
}
.page-template-template-sitemap-php ul.sitemap-pages,
.page-template-template-sitemap-php ul.sitemap-authors,
.page-template-template-sitemap-php ul.sitemap-archives,
.page-template-template-sitemap-php ul.sitemap-posts,
.page-template-template-sitemap-php ul.sitemap-posts ul {
	margin-left: 2px;
	list-style: none;
}
.page-template-template-sitemap-php ul.sitemap-pages li,
.page-template-template-sitemap-php ul.sitemap-authors li,
.page-template-template-sitemap-php ul.sitemap-archives li,
.page-template-template-sitemap-php ul.sitemap-posts li,
.page-template-template-sitemap-php ul.sitemap-posts ul li {
	padding-bottom: 4px;
}
.page-template-template-sitemap-php ul.sitemap-pages .children li,
.page-template-template-sitemap-php ul.sitemap-authors .children li,
.page-template-template-sitemap-php ul.sitemap-archives .children li,
.page-template-template-sitemap-php ul.sitemap-posts .children li,
.page-template-template-sitemap-php ul.sitemap-posts ul .children li {
	padding-left: 25px;
}
.page-template-template-sitemap-php ul.sitemap-pages li:before,
.page-template-template-sitemap-php ul.sitemap-authors li:before,
.page-template-template-sitemap-php ul.sitemap-archives li:before,
.page-template-template-sitemap-php ul.sitemap-posts li:before,
.page-template-template-sitemap-php ul.sitemap-posts ul li:before {
	color: #AAA;
	line-height: 1;
	font-family: FontAwesome;
	content: "\f105";
	font-size: 1.3333333333333333em;
	padding-right: 10px;
}
.page-template-template-sitemap-php ul.sitemap-pages ul.children,
.page-template-template-sitemap-php ul.sitemap-authors ul.children,
.page-template-template-sitemap-php ul.sitemap-archives ul.children,
.page-template-template-sitemap-php ul.sitemap-posts ul.children,
.page-template-template-sitemap-php ul.sitemap-posts ul ul.children {
	margin: 10px 0px 10px -2px;
	list-style: none;
}

/* =Parallax
--------------------------------------------------------------------------------------- */
.page-template-template-parallax-php #intro {
	max-width: 1140px;
	margin: 0 auto;
	padding-top: 30px;
}
.page-template-template-parallax-php #content {
	padding: 0;
}
.page-template-template-parallax-php #content-core {
	margin: 0;
	max-width: 100%;
}
.page-template-template-parallax-php .panel-grid {
	padding: 30px 10px 0;
}
.page-template-template-parallax-php.layout-boxed .panel-grid {
	padding: 30px 20px 0;
}
.page-template-template-parallax-php .panel-grid-core {
	display: block;
	max-width: 1140px;
	margin: 0 auto
}

/* =Search Results
--------------------------------------------------------------------------------------- */
article#no-results {
	padding: 0px 0px 20px 0px;
	border-bottom: 1px solid rgba(155,155,155,0.3);
}


/* =404 Error
--------------------------------------------------------------------------------------- */
.title-404 {
	text-align: center;
	margin: 20px 0;
}
.title-404 h2 {
	line-height: 1;
	font-size: 60px;
	margin: 0 0 30px 0;
}
.title-404 p {
	margin-bottom: 30px;
}
.title-404 .search {
	margin-bottom: 20px;
	width: 200px;
	max-width: 200px;
}


/* =Portfolio (styling code in style-portfolio.css)
--------------------------------------------------------------------------------------- */
.column-1 { width: 100%;    padding: 5px; }
.column-2 { width: 50%;     padding: 5px; }
.column-3 { width: 33.333%; padding: 5px; }
.column-4 { width: 25%;     padding: 5px; }

.column-1,
.column-2,
.column-3,
.column-4 {
	float: left;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

/* =Project
--------------------------------------------------------------------------------------- */
h4.project-title {
	position: relative;
	font-size: 14px;
	text-transform: uppercase;
	padding-bottom: 5px;
	margin: 0 0 10px;
}
.project-button {
	display: inline-block;
	float: left;
	padding: 10px 15px;
	margin: 0;
}

/* Bootstrap accordion */
#project-accordion {
	margin-bottom: 20px
}
#project-accordion .accordion-group {
	margin:0;
	border: 1px solid #E5E5E5;
	border-bottom: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}
#project-accordion .accordion-group:last-child {
	border-bottom: 1px solid #E5E5E5;
}
#project-accordion .accordion-toggle:before {
	content: "";
	height: 1px;
	position: absolute;
	top: 50%;
	width: 15px;
	left: 12px;
	background-color: #44AA00;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#project-accordion .accordion-toggle.collapsed:before {
	background-color: #333;
}
#project-accordion .accordion-toggle {
	color:inherit;
	position: relative;
	background: #FCFCFC;
	padding-left: 40px;
	-webkit-box-shadow: inset 0 0 0 1px #FFF;
	-moz-box-shadow: inset 0 0 0 1px #FFF;
	-ms-box-shadow: inset 0 0 0 1px #FFF;
	-o-box-shadow: inset 0 0 0 1px #FFF;
	box-shadow: inset 0 0 0 1px #FFF;
}


/* ---------------------------------------------------------------------------------------
	11. SHORTCODES - THEME SPECIFIC STYLE
--------------------------------------------------------------------------------------- */

/*---------------------- BLOG POST CAROUSEL ----------------------*/

/* Image overlay effect */
.sc-carousel .entry-header .image-overlay {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.sc-carousel .entry-header .image-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: visible;
	background: #444;
	background: rgba(68, 68, 68, 0.6);
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
.sc-carousel .entry-header:hover .image-overlay {
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.sc-carousel .entry-header .image-overlay-inner {
	display: table;
	width: 100%;
	height: 100%;
}
.sc-carousel .entry-header .hover-icons {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.sc-carousel .entry-header .hover-link,
.sc-carousel .entry-header .hover-zoom {
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	text-align: center;
	display: inline-block;
	height: 40px;
	width: 40px;
}
.sc-carousel .entry-header:hover .hover-zoom,
.sc-carousel .entry-header:hover .hover-link {
	background: #222;
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.sc-carousel .entry-header .hover-link:hover,
.sc-carousel .entry-header .hover-zoom:hover {
	background: #44AA00;
}
.sc-carousel .entry-header .hover-zoom {
	margin-right: 5px;
	-webkit-transform: translateX(-100px);
	-moz-transform: translateX(-100px);
	-ms-transform: translateX(-100px);
	-o-transform: translateX(-100px);
	transform: translateX(-100px);
}
.sc-carousel .entry-header:hover .hover-zoom {
	margin-right: 5px;
	-webkit-transform: translate(0);
	-moz-transform: translate(0);
	-ms-transform: translate(0);
	-o-transform: translate(0);
	transform: translate(0);
}
.sc-carousel .entry-header .hover-link {
	margin-left: 5px;
	-webkit-transform: translateX(100px);
	-moz-transform: translateX(100px);
	-ms-transform: translateX(100px);
	-o-transform: translateX(100px);
	transform: translateX(100px);
}
.sc-carousel .entry-header:hover .hover-link {
	margin-left: 5px;
	-webkit-transform: translate(0);
	-moz-transform: translate(0);
	-ms-transform: translate(0);
	-o-transform: translate(0);
	transform: translate(0);
}

/* Genericons used on image overlays */
.sc-carousel .entry-header .hover-zoom:before {
	font-family: FontAwesome;
	font-size: 18px;
	content: '\f067';
	position: relative;
	right: 14px;
	top: 12px;
	display: inline-block;
	float: right;
	color: #FFF;
	line-height: 1;
}
.sc-carousel .entry-header .hover-link:before {
	font-family: FontAwesome;
	font-size: 18px;
	content: '\f0c1';
	position: relative;
	right: 11px;
	top: 13px;
	display: inline-block;
	float: right;
	color: #FFF;
	line-height: 1;
}

/*---------------------- ICONS (FONT AWESOME) ----------------------*/
.iconfull.style1 .iconimage {
	float: none;
	min-height: inherit;
	margin-bottom: 20px;
}
.iconfull.style1 i {
	color: #44AA00;
}
.iconfull.style1 .iconmain,
.iconfull.style1 .iconmain h3 {
	font-weight: normal;
	text-align: center;
	padding: 0;
}
.iconfull.style1 .iconmain h3 {
	margin-bottom: 20px;
}

.iconfull.style1 .iconurl {
	margin-top: 0;
}

.iconfull.style2 i {
	color: #44AA00;
}
.iconfull.style2 h3 {
	font-weight: normal;
}
.iconfull.style2 .iconimage {
	text-align: left;
}

/*---------------------- PROGRESS BAR ----------------------*/
.progress {
	border: 1px solid #E1E1E1;
	height: 36px;
	margin-bottom: 10px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}

/*---------------------- SLIDESHOW ----------------------*/
.rslides-sc a.rslides_nav,
.thinkupslider-sc a.rslides_nav {
	opacity: 1;
	color: #FFF;
	width: 60px;
	height: 60px;
	margin: -30px 0 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;	
}
.rslides-sc a.rslides_nav.prev:before,
.rslides-sc a.rslides_nav.next:before,
.thinkupslider-sc a.rslides_nav.prev:before,
.thinkupslider-sc a.rslides_nav.next:before {
	color: #FFF;
	line-height: 60px;
	background: #000;
	background: rgba(0, 0, 0, 0.5)
}
.rslides-sc a.rslides_nav.prev:hover:before,
.rslides-sc a.rslides_nav.next:hover:before,
.thinkupslider-sc a.rslides_nav.prev:hover:before,
.thinkupslider-sc a.rslides_nav.next:hover:before {
	color: #333;
	background: #FFF;
}
.rslides-sc a.rslides_nav.prev,
.thinkupslider-sc a.rslides_nav.prev {
	left: -60px;
}
.rslides-sc a.rslides_nav.next,
.thinkupslider-sc a.rslides_nav.next {
	right: -60px;
}
.rslides-sc .rslides-inner:hover a.rslides_nav.prev,
.thinkupslider-sc .rslides-inner:hover a.rslides_nav.prev {
	left: 0px;
}
.rslides-sc .rslides-inner:hover a.rslides_nav.next,
.thinkupslider-sc .rslides-inner:hover a.rslides_nav.next {
	right: 0px;
}


/* ---------------------------------------------------------------------------------------
	12. PAGE BUILDER - THEME SPECIFIC STYLE
--------------------------------------------------------------------------------------- */

/* Call To Action */
.panel-grid-cell #introaction {
	padding: 0;
}
.panel-grid-cell .action-text {
	margin-bottom: 10px;
}
.panel-grid-cell #introaction h3 {
	font-size: 30px;
	font-weight: normal;
}
.panel-grid-cell #introaction .style1,
.panel-grid-cell #introaction .style2 {
	color: #FFF;
	background: #44AA00;
}
.panel-grid-cell #introaction .style3,
.panel-grid-cell #introaction .style4 {
	color: #FFF;
	background: #2D2D2D;
}
.panel-grid-cell #introaction .style5,
.panel-grid-cell #introaction .style6 {
	color: #202224;
	background: #FFF;
}

.panel-grid-cell #introaction .style1:hover,
.panel-grid-cell #introaction .style5:hover {
	color: #FFF;
	background: #2D2D2D;
}
.panel-grid-cell #introaction .style2:hover,
.panel-grid-cell #introaction .style3:hover {
	color: #202224;
	background: #FFF;
}
.panel-grid-cell #introaction .style4:hover,
.panel-grid-cell #introaction .style6:hover {
	color: #FFF;
	background: #44AA00;
}

/* Carousel - Portfolio  - Style when no link is set for portfolio button */
.carousel-portfolio-builder.style2 {
	position: relative;
}
.carousel-portfolio-builder.style2 .sc-carousel.carousel-portfolio {
	padding-bottom: 0;
	margin-bottom: 20px;
	margin-top: 90px;	
}
.carousel-portfolio-builder.style2 .sc-carousel.carousel-portfolio a.prev, 
.carousel-portfolio-builder.style2 .sc-carousel.carousel-portfolio a.next {
	top: 0;
	margin-top: 0;
	height: 100%;
	background: #fff;
	border: 1px solid #eee;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.carousel-portfolio-builder.style2 .sc-carousel.carousel-portfolio a.prev:hover, 
.carousel-portfolio-builder.style2 .sc-carousel.carousel-portfolio a.next:hover {
	background: #44AA00;
	border-color: #44AA00;
}
.carousel-portfolio-builder.style2 .sc-carousel.carousel-portfolio a.prev {
	left: -35px;
	right: auto;
}
.carousel-portfolio-builder.style2 .sc-carousel.carousel-portfolio a.next {
	right: -35px;
}
.carousel-portfolio-builder.style2 .sc-carousel.carousel-portfolio a.prev i, 
.carousel-portfolio-builder.style2 .sc-carousel.carousel-portfolio a.next i {
	top: 45%;
}
.carousel-portfolio-builder.style2 .sc-carousel.carousel-portfolio .entry-content {
	margin: 0;
}
.carousel-portfolio-builder.style2 .sc-carousel-button {
	position: absolute;
	right: 0;
	color: inherit;
	background: #FFF;
	border: 1px solid #EEE;
	padding: 5px 21px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.carousel-portfolio-builder.style2 .sc-carousel-button:hover {
	color: #FFF;
	background: #44AA00;
	border-color: #44AA00;
}
.carousel-portfolio-builder.style2 .sc-carousel-title,
.carousel-portfolio-builder.style2 .sc-carousel-button {
	top: -90px;
}

.layout-boxed .carousel-portfolio-builder.style2 .sc-carousel.carousel-portfolio a.prev,
.custom-background .carousel-portfolio-builder.style2 .sc-carousel.carousel-portfolio a.prev {
	left: -20px;
}
.layout-boxed .carousel-portfolio-builder.style2 .sc-carousel.carousel-portfolio a.next,
.custom-background .carousel-portfolio-builder.style2 .sc-carousel.carousel-portfolio a.next {
	right: -20px;
}

/* Services - Style 1 / Style 2 / Style 3 */
.services-builder.style1 {
	background: #FFF;
}
.services-builder {
	margin-bottom: 30px;
}

/* Services - Style 1 */
.services-builder {
	color: inherit;
}
.services-builder.style1 {
	text-align: center;
	display: block;
	background: #FFF;
	padding: 10px;
	border: 1px solid #E0E0E0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.services-builder.style1 .entry-header {
	position: relative;
	z-index: 2;
	width: 100%;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.services-builder.style1 img {
	display: block;
	margin: 0 auto;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.services-builder.style1 .entry-content {
	padding-top: 20px;
}
.services-builder.style1 h3 {
	font-size: 18px;
	font-weight: 600;
}
.services-builder.style1 .more-link {
	padding: 5px 10px;
}

/* Services - Style 2 */
.services-builder.style2 .iconmain {
	padding: 0;
}
.services-builder.style2 h3 {
	font-size: 13px;
	font-weight: 600;
	text-transform:uppercase;
}
.services-builder.style2 .iconurl a {
		color: #979797;
}
.services-builder.style2 .iconurl a:hover {
		color: #44AA00;
}
.services-builder.style2 i {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}


/* ---------------------------------------------------------------------------------------
	13. IE STYLES
--------------------------------------------------------------------------------------- */
#ie8 .entry-content img,
#ie8 .widget img,
#ie8 .wp-caption img {
	width: auto;
}
#ie8 .content-core {
    zoom:1;
}


/* ---------------------------------------------------------------------------------------
	14. SAFARI STYLES
--------------------------------------------------------------------------------------- */

/* Fix 100% table width issue on Safari */
.wrap-safari {
	display: block; 
	height: 100%; 
	max-width: 1140px; 
	margin: 0 auto;
}


/* ---------------------------------------------------------------------------------------
	15. MISC
--------------------------------------------------------------------------------------- */

.hidden {
    display: none;
}

/* Correct line height of Font Awesome size */
body .fa-lg {
	line-height: 1;
	vertical-align: -10%;
}